<!DOCTYPE html>
<html>
	<head>

		<!-- Page Title: find this on the page tab -->
		<title>
		Vanilla Vue2 App
		</title>

		<!-- Local styles. you can of course add a .css file here for cleaner interface -->
		<style type="text/css">
			.color-blue {color:blue;}
			.color-red {color:red;}
			.isRed {color:red;}
		</style>

	</head>

	<!-- Visible page content goes below here -->
	<body>

		<h1>Vanilla Version. Yay</h1>
		
		<div id="root"><!-- This is IMPORTANT! 
		It is the root (main) container for the Vue2 script -->

		<div class="search-wrapper">
		<!-- this 'wrapper' is just a container, not really important unless 
		you want to use it for styling the input -->

			<input type="text" v-model="keyword" name="search" placeholder="Search..."> <!-- This is IMPORTANT!
			It is the binding to the Vue2 model that processes the data -->

		</div>

			<div class="wrapper"> 
			<!-- this 'wrapper' is just a container, not really important unless 
			you want to use it for styling data -->

				<div v-for="post in filterlist"> <!-- This is IMPORTANT!
				It is the 'for' loop, or machine that cycles over the data -->

					<div> <!-- this is not really important, but will be the 'holder' for the post object item -->

						<img :src="post.img" height="100px" width="64px"> <!-- this is bound to the img slot -->

						<a class="isRed" :href="post.link">{{post.title}}</a>

						<p>{{post.body}}</p> <!-- this is bound to the body slot -->

					</div>
					
				</div>

			</div>

		</div>
	
	</body>

	<!-- Javascript must be placed here at the bottom of the page
		so that all the HTML content will be processed fist by the browser
		then procesed by the javascript -->

	<!-- This Vue2 script package is pulled in remotely via a CDN -->
	<script src="https://unpkg.com/vue" ></script>

	<!-- This is your local javascript that will use Vue2 -->
	<script src="onepage.js"></script>

</html>


