<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>One Page Awesomer</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
	<body>
	<div id="root">

		<section class="section">

		    <div class="container">

		      <div class="columns">

			      <div class="column"> <!-- search column -->

			      	<h3 class="title">Search Titles</h1>

		      		<hr>

		      		<p>
		      			<input class="input is-medium" type="text" v-model="keyword" name="search" placeholder="Search...">
		      		</p>
					
					<br>

					<p>
						<a class="button is-primary is-outlined" href="../index.html">Home</a>
					</p>
					

			      </div>

		      	<div class="column is-two-thirds"> <!-- post column -->

		      		<h3 class="title">Posts</h1>
		      		<hr>

						<div v-for="post in filterlist">

						<div class="box">

							<article class="media">

    							<div class="media-left">

      								<figure class="image is-64x64">

      									<img :src="post.img">

      								</figure>

  								</div>

								<div class="media-content">

						      		<div class="content">

						      			<a :href="post.link">{{post.title}}</a>

						      			<p><em>by {{post.author}}</em></p>

										<p>{{post.body}}</p>
							        
							        </div> <!-- end content -->

							        <nav class="level is-mobile">

								        <div class="level-left">

							          		<a class="level-item">
							            		<span class="icon is-small"><i class="fa fa-reply"></i></span>
						          			</a>
							          		<a class="level-item">
								            	<span class="icon is-small"><i class="fa fa-retweet"></i></span>
							          		</a>
							          		<a class="level-item">
								            	<span class="icon is-small"><i class="fa fa-heart"></i></span>
							          		</a>

								        </div> <!-- end level-left -->

							      	</nav>

						        </div> <!-- end media content -->

				        	</article>
							
						</div> <!-- end box -->
							
						<br>

						</div> <!-- end v-for loop area -->

		  			</div> <!-- end Posts column -->

				</div> <!-- end columns -->

			</diz> <!-- end container -->

		</section>

	</div> <!-- end Vue2 root div-->

	<footer class="footer">
		<div class="container">
			<div class="content has-text-centered">
				<p>
					<strong>Footer</strong> which means this is the bottom of the page.
				</p>
				<p>
					<a class="icon" href="#">
					  <i class="fa fa-diamond"></i>
					</a>
				</p>
			</div>
		</div>
	</footer>
	
	</body>

	<script src="https://unpkg.com/vue" ></script>
	<script src="awesome.js"></script>

</html>
